<ion-view>
    <ion-content>
        <div style="width: 67.5%;height: 394px;border: 1px solid #F5F5F5;;margin: 0 auto;margin-top: 102px">
            <img src="images/serviceMan.png" style="width: 47px;height: 52.4px;margin: auto;margin-top: -29px">
            <p style="font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0.18px;line-height: 25px;text-align: center">联系客服</p>
            <p style="font-family: PingFang-SC-Regular;font-size: 14px;color: #000000;letter-spacing: 0.18px;line-height: 25px;margin-top: 3px;text-align: center;margin: auto">微信扫一扫，把你的需求告诉我们</p>
            <img src="images/serviveCode.png" style="width: 140px;height: 140px;margin: auto;margin-top: 9px">
            <div style="text-align: center;margin-top: 40px">
                <img src="images/servicePhone.png" style="width: 20px;height: 20px;display: inline-block"><span style="font-family: PingFang-SC-Medium;font-size: 18px;color: #4A4A4A;letter-spacing: 0;display: inline-block;margin-left: 5px">客服电话</span>
                <p style="font-family: PingFang-SC-Medium;font-size: 24px;color: #FF6666;letter-spacing: 0;margin-top: 5px;text-align: center">
                    <a href="tel:18611010899" style="font-family: PingFang-SC-Medium;font-size: 24px;color: #FF6666;letter-spacing: 0;margin-top: 5px;text-align: center">18611010899</a>
                    <p style="color: #4A4A4A;font-size: 12px;margin-top: 5px">（工作时间9:00至18:00）</p>
                </p>
           </div>
        </div>
    </ion-content>
</ion-view>
