<ion-view style="background: #f2f5f9" >
    <style>
        .check{
            color: #4A4A4A;
            letter-spacing: 0;
            background: #F2F5F9;
            border-radius: 14px;
        }
        .check_type{
            color: #FFFFFF;
            letter-spacing: 0;
            background: #FF6666;
            border-radius: 14px;
        }
    </style>
    <ion-content >
        <!--轮播图部分-->
        <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 show-pager="false">
            <ion-slide ng-repeat="item in param.product.productDetail.listPic">
                <div class="box" style="height:7.32rem;width: 7.5rem;">
                    <img ng-src="{{item}}" style="height:7.32rem;width: 7.5rem;"/>
                    <div style="position: absolute;bottom: 20px;right: 20px;font-size: 0.34rem;color: #999999"><span >{{$index+1}}</span>/<span >{{param.product.productDetail.listPic.length}}</span></div>
                </div>
            </ion-slide>
        </ion-slide-box>
        <div class="list">

            <div class="item" style="background: #Fc4B4B;height: 60px;position: relative;padding: 0px">
                <p style="margin-left: 10px;margin-top: 13px">
                    <span class="subdued" style="font-family: PingFangSC-Regular;font-size: 36px;color: #FFFFFF;
                    letter-spacing: 0; ">
                        <span style="font-size: 20px;display: inline-block;">￥</span>{{param.product.price}}</span>
                    <span style="color: #ffffff;font-size: 12px;margin-left: 10px">
                    <del style="position: absolute;left:2.5rem;">￥{{param.product.productDetail.productMarketPrice}}</del></span>
                    <timer-btn start-time='{{countdown}}'></timer-btn>
                </p>
                <div style="position: absolute;top: 11px;
    right: 10px;">
                    <p><span style="width: 0.8rem;height: 0.35rem;float:right;color: #ff4a59;border: 1px solid #ff4a59;display: inline-block;text-align: center;line-height: 0.35rem;font-size: 10px;border-radius: 16px;background: #ffffff">包邮</span>
                        <span style="padding: 2px 5px; color: #ff4a59;float:right;border: 1px solid #ff4a59;display: inline-block;text-align: center;line-height: 0.35rem;font-size: 10px;border-radius: 16px;background: #ffffff" ng-if="param.product.type=='special'">韩国进口</span>
                    </p>
                    <p style="color: #ffffff;font-size: 12px;display: inline-block;margin-top: 5px">售出{{param.product.productDetail.productSalesVolume}}件</p>
                </div>
            </div>

            <div style="margin: 0px 6px ;padding: 13px 0; background: #FFFFFF;color:#333333;border-bottom: 1px solid #E3E3E3">
                <p style='font-size: 17px;letter-spacing: 0;font-family: PingFang-SC-Bold;margin-bottom: 13px;'>{{param.product.name}}</p>
                <p style="text-overflow: ellipsis;font-size: 15px;font-family: PingFang-SC-Regular;line-height: 20px;">
                    <span style="font-family: PingFang-SC-Regular;font-size: 14px;color: #4A4A4A;letter-spacing: 0;line-height: 22px;">{{param.product.description}}</span>
                </p>
            </div>
            <div style="width:100%;margin: 0 auto; padding-bottom: 40px;">
                <p style="text-align: left;color: #666666;font-size: 13px;margin-top: 12px;font-family: PingFang-SC-Medium;font-size: 16px; color: #333333;letter-spacing: 0;background: #fff;padding: 12px;width: 100%;border-bottom: 1px solid #E3E3E3;">您的拼友团</p>
                <div style="width:100%;background: #fff;padding: 12px;" ng-repeat="item in shareList">
                    <img style="display: inline-block;width: 1.1rem;height: 1.1rem;border-radius: 50%;" ng-src="{{item.photo}}" alt="" style="display: inline-block;">
                    <span style="font-family: PingFang-SC-Medium;font-size: 16px;color: #333333;letter-spacing: 0;width: 100%;height: 1.1rem;line-height: 1.1rem;vertical-align: top;border-bottom: 1px solid #F6F6F8;">{{item.nickname}}</span>
                    <p style="font-family: PingFang-SC-Medium;font-size: 16px;color: #333333;letter-spacing: 0;float: right;width: 1.8rem;text-align: center;border-bottom: 1px solid #F6F6F8;background: #FF6666;padding: 6px;color: #fff;margin-top: 0.3rem;border-radius: 15px;">已拼成</p>
                </div>
            </div>
        </div>
</ion-view>
