<ion-view style="background: #f2f5f9">
    <ion-content style="color: #666666;padding: 10px;font-size: 15px;font-family: 微软雅黑" >
        <p style="text-align: center;font-size:18px;font-weight: 600">美享99快时尚公众平台用户协议</p>
        <p>本协议为《美享99快时尚公众平台用户协议》，自本协议发布之日起，美享平台各处所称“美享服务协议”均指本协议。</p>
        <p>各服务条款前所列索引关键词仅为帮助您理解该条款表达的主旨之用，不影响或限制本协议条款的含义或解释。为维护您自身权益，请您仔细阅读各条款具体表述。</p>
        <p style="font-weight: 600">【审慎阅读】您在申请注册流程前，应当认真阅读本协议，充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体下划线标识，您应重点阅读。如您对协议有任何疑问，可向美享平台客服咨询。
            【签约动作】阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。当按照注册页面提示填写信息、即为同意本协议，即表示您已充分阅读、理解并同意接受本协议的全部内容，并与美享达成一致，成为美享平台“用户”。</p>
        <p>一、&nbsp;&nbsp;定义</p>
        <p style="text-indent:15px">美享99快时尚是基于在微信体系下开发的一款服务号，主要业务范围包括微课堂、微商城。其中微课堂属于美享线上精品营销课程，帮助实体店成功转型，为客户提供线上拓客和线上成交的新思路；微商城是为用户提供线上购物平台，可以实现商品查询、选购、体验、互动、订购与支付的线上线下一体化服务模式。</p>

        <p>二、合作返利细则</p>
        <p>（普通用户不享受此权益，大当家、9小主权益有效期为一个周期年）</p>
        <p>1）推荐奖励比例：</p>
        <p>推荐一级店主（即大当家）：5%</p>
        <p> 推荐二级店主（即9小主）：10%</p>
        <p>一级佣金比例：10%；</p>
        <p>2）即时奖励比例：</p>
        <p>一级店主：2%</p>
        <p>二级店主：10%</p>
        <p>3）月度返利比例：</p>
        <p>一级店主：35%</p>
        <p>二级店主：10%</p>
        <p> 4）年度分红比例：</p>
        <p> 一级店主：<br>
            1%（平台流水达到3000万元）</p>
        <p >2%（平台流水达到5000万元）</p>
        <p >3%（平台流水达到1亿元）</p>
        <p style="font-weight: 600">三、 账户注册与使用</p>
        <p>3.1 用户资格</p>
        <p style="text-indent: 15px"> 在您开始注册程序使用美享平台服务前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备相应的民事行为能力，请立即停止注册及使用行为。<u style="font-weight: 600">若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果。</u></p>
        <p>此外，您还需确保您不是任何国家、国际组织或者地域实施的贸易限制、制裁或其他法律、规则限制的对象，否则您可能无法正常注册及使用美享平台服务。</p>
        <p>3.2 账户说明</p>
        <p><span style="font-weight: 600">【账户获得】</span>当您按照注册页面提示填写信息、即为同意本协议且完成全部注册程序后，您可获得美享平台账户并成为美享平台用户。</p>
        <p>美享平台只允许每位用户使用一个美享平台账户。如有证据证明或美享平台有理由相信您存在不当注册或不当使用多个美享平台账户的情形，美享平台可采取冻结或关闭账户、取消订单、拒绝提供服务等措施，如给美享平台及相关方造成损失的，您还应承担赔偿责任。</p>
        <p><span style="font-weight: 600">【账户使用】</span>您有权使用您设置或确认的美享会员名、手机号码（以下简称“账户名称”）登录美享平台。</p>
       由于您的美享账户关联您的个人信息及美享平台商业信息，您的美享账户仅限您本人使用。未经美享平台同意，您直接或间接授权第三方使用您美享账户或获取您账户项下信息的行为无效。如美享平台判断您美享账户的使用可能危及您的账户安全及/或美享平台信息安全的，美享平台可拒绝提供相应服务或终止本协议。
        <p><span style="font-weight: 600">【账户转让】</span>由于用户账户关联用户信用信息，仅当有法律明文规定、司法裁定或经美享同意，并符合美享平台规则规定的用户账户转让流程的情况下，您可进行账户的转让。您的账户一经转让，该账户项下权利义务一并转移。<u style="font-weight: 600">除此外，您的账户不得以任何方式转让，否则美享平台有权追究您的违约责任，且由此产生的一切责任均由您承担。</u></p>
        <p><span style="font-weight: 600">【实名认证】</span>作为美享平台经营者，为使您更好地使用美享平台的各项服务，保障您的账户安全，美享要求您按我国法律规定完成实名认证。</p>
        <p style="font-weight: 600">3.3 注册信息管理</p>
        <p style="font-weight: 600">3.3.1 真实合法</p>
        <p><span style="font-weight: 600">【信息真实】</span>在使用美享平台服务时，您应当按美享平台页面的提示准确完整地提供您的信息（包括您的姓名、联系电话、联系地址身份证号码等），以便美享或其他用户与您联系。作为注册人，<u style="font-weight: 600">您有义务保持您提供信息的真实性及有效性。</u></p>
        <p><u style="font-weight: 600">【会员名的合法性】您设置的美享会员名不得违反国家法律法规及美享网规则关于会员名的管理规定，否则美享有权禁止您注册，已经注册成功的会员，美享可停止您使用不合法、不合规的用户名或回收您的美享会员名。</u>美享会员名的回收不影响您以手机号码登录美享平台并使用美享平台服务。</p>
        <p style="font-weight: 600">3.3.2 更新维护</p>
        您应当及时更新您提供的信息，在法律有明确规定要求美享作为平台服务提供者必须对部分用户（如平台卖家等）的信息进行核实的情况下，美享将依法不时地对您的信息进行检查核实，您应当配合提供最新、真实、完整、有效的信息。
        <u style="font-weight: 600">如美享按您最后一次提供的信息与您联系未果、您未按美享的要求及时提供信息、您提供的信息存在不实或行政司法机关核实您提供的信息不准确的，您将承担因此对您自身、他人及美享造成的全部损失与不利后果。美享可向您发出询问或要求整改的通知，并要求您进行重新认证，并在您整改完毕前有权终止对您提供部分或全部美享平台服务，美享对此不承担责任。</u><br>
        <p style="font-weight: 600" >3.4 账户安全规范</p>
        <span style="font-weight: 600">【账户安全保管义务】</span>您的账户为您自行设置并由您保管，美享任何时候均不会主动要求您提供您的账户密码。因此，建议您务必保管好您的账户，并确保您在每个上网时段结束时退出登录并以正确步骤离开美享平台。
        <u style="font-weight: 600">账户因您主动泄露或因您遭受他人攻击、诈骗等行为导致的损失及后果，美享并不承担责任，您应通过司法、行政等救济途径向侵权行为人追偿。</u><br>
        <p><span style="font-weight: 600">【账户行为责任自负】</span>除美享存在过错外，<u style="font-weight: 600">您应对您账户项下的所有行为结果（包括但不限于在线签署各类协议、发布信息、购买商品及服务及披露信息等）负责。</u></p>
        <span style="font-weight: 600">【日常维护须知】</span>如发现任何未经授权使用您账户登录美享平台或其他可能导致您账户遭窃、遗失的情况，建议您立即通知美享，并授权美享将该信息改动。<u style="font-weight: 600">您理解美享对您的任何请求采取行动均需要合理时间，且美享应您请求而采取的行动可能无法避免或阻止侵害后果的形成或扩大，除美享存在法定过错外，美享不承担责任。</u>
        <p style="font-weight: 600">四、 美享平台服务及规范</p>
        <span style="font-weight: 600">【服务概况】</span>您有权在美享平台上享受商品及用户的分销管理，商品及/或服务的销售与推广、商品及/或服务的购买与评价、交易争议处理等服务。美享提供的服务内容众多，具体您可登录美享平台浏览。
        <p style="font-weight: 600">4.3商品及/或服务的购买与评价</p>
        <span style="font-weight: 600">【商品及/或服务的购买】</span>当您在美享平台购买商品及/或服务时，请您务必仔细确认所购商品的品名、价格、数量、型号、规格、尺寸或服务的时间、内容、限制性要求等重要事项，并在下单时核实您的联系地址、电话、收货人等信息。<u style="font-weight: 600">如您填写的收货人非您本人，则视为您指定第三方收货，美享向第三方送达即视为履行义务，该收货人的行为和意思表示产生的法律后果均由您承担。</u><br>
        您的购买行为应当基于真实的消费需求，不得存在对商品及/或服务实施恶意购买、恶意维权等扰乱美享平台正常交易秩序的行为。基于维护美享平台交易秩序及交易安全的需要，<u style="font-weight: 600">美享发现上述情形时可主动执行关闭相关交易订单等操作，并有权在一定时间内禁止您使用交易、评论等功能。</u>
        <p style="font-weight: 600">4.4交易争议处理</p>
        <span style="font-weight: 600">【交易争议处理途径】</span>您在美享平台交易过程中与其他用户发生争议的，您或其他用户中任何一方均有权选择以下途径解决：<br>
        （一）与争议相对方自主协商；<br>
        （二）使用美享平台提供的争议调处服务；<br>
        （三）请求消费者协会或者其他依法成立的调解组织调解；<br>
        （四）向有关行政部门投诉；<br>
        （五）根据与争议相对方达成的仲裁协议（如有）提请仲裁机构仲裁；<br>
        （六）向人民法院提起诉讼。<br>
        <span style="font-weight: 600">【平台调处服务】</span>如您依据美享平台规则使用美享平台的争议调处服务，则表示您认可并愿意履行美享平台的客服或大众评审员（“调处方”）作为独立的第三方根据其所了解到的争议事实并依据美享平台规则所作出的调处决定（包括调整相关订单的交易状态、判定将争议款项的全部或部分支付给交易一方或双方等）。在美享平台调处决定作出前，您可选择撤回调处处务，而选择其他渠道解决争议。如果您未选择终止调处，则平台调处决定一经作出，即对双方具有约束力。<br>
       <u style="font-weight: 600"> 如您对调处决定不满意，您仍可采取诉讼或仲裁途径解决争议，但未取得司法机构或仲裁机构终局决定前，您仍应先履行调处决定。</u>
        <p style="font-weight: 600">4.5费用</p>
        美享为美享99快时尚平台向您提供的服务付出了大量的成本，除美享平台明示的收费业务外，美享向您提供的服务目前是免费的。如未来美享向您收取合理费用，美享会采取合理途径并以足够合理的期限提前通过法定程序并以约定的方式通知您，确保您有充分选择的权利。
        <div style="font-weight: 600">
            <p >4.6责任限制</p>
            <u>【不可抗力及第三方原因】美享依照法律规定履行基础保障义务，但对于下述原因导致的合同履行障碍、履行瑕疵、履行延后或履行内容变更等情形，美享并不承担相应的违约责任：</u><br>
            <u>（一）因自然灾害、罢工、暴乱、战争、政府行为、司法行政命令等不可抗力因素；</u><br>
            <u>（二）因电力供应故障、通讯网络故障等公共服务因素或第三人因素；</u><br>
            <u>（三）在美享已尽善意管理的情况下，因常规或紧急的设备与系统维护、设备与系统故障、网络信息与数据安全等因素。</u><br>
            <p>【海量信息】美享仅向您提供美享平台服务，您了解美享平台上的信息系用户自行发布，且可能存在风险和瑕疵。<u>鉴于美享平台具备存在海量信息及信息网络环境下信息与实物相分离的特点，美享无法逐一审查商品及/或服务的信息，无法逐一审查交易所涉及的商品及/或服务的质量、安全以及合法性、真实性、准确性，对此您应谨慎判断。</u></p>
            <p>【调处决定】您理解并同意，在争议调处服务中，美享平台的客服、大众评审员并非专业人士，仅能以普通人的认知对用户提交的凭证进行判断。因此，<u>除存在故意或重大过失外，调处方对争议调处决定免责。</u></p>
        </div>
        <p style="font-weight: 600">五、 用户信息的保护及授权</p>
        <p style="font-weight: 600">5.1个人信息的保护</p>
        美享非常重视用户个人信息（即能够独立或与其他信息结合后识别用户身份的信息）的保护，在您使用美享提供的服务时，您同意美享按照在美享平台上公布的隐私权政策收集、存储、使用、披露和保护您的个人信息。美享希望通过隐私权政策向您清楚地介绍美享对您个人信息的处理方式，因此美享建议您完整地阅读用户协议政策，以帮助您更好地保护您的隐私权。
        <p style="font-weight: 600">5.2非个人信息的保证与授权</p>
        <div  style="font-weight: 600">
            <u>【信息的发布】您声明并保证，您对您所发布的信息拥有相应、合法的权利。否则，美享可对您发布的信息依法或依本协议进行删除或屏蔽。</u><br>
            <u>【禁止性信息】您应当确保您所发布的信息不包含以下内容：</u><br>
            <u>（一）违反国家法律法规禁止性规定的；</u><br>
            <u>（二）政治宣传、封建迷信、淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</u><br>
            <u>（三）欺诈、虚假、不准确或存在误导性的；</u><br>
            <u>（四）侵犯他人知识产权或涉及第三方商业秘密及其他专有权利的；</u><br>
            <u>（五）侮辱、诽谤、恐吓、涉及他人隐私等侵害他人合法权益的；</u><br>
            <u>（六）存在可能破坏、篡改、删除、影响美享平台任何系统正常运行或未经授权秘密获取美享平台及其他用户的数据、个人资料的病毒、木马、爬虫等恶意软件、程序代码的；
            <u>（七）其他违背社会公共利益或公共道德或依据相关美享平台协议、规则的规定不适合在美享平台上发布的。</u><br>
            <u>【授权使用】您在美享注册还意味着对于您提供、发布及在使用美享平台服务中形成的除个人信息外的文字、图片、视频、音频等非个人信息，美享有权免费使用。同时，您的注册行为还视为您在法律规定的保护期限内免费授予美享再授权给其他第三方使用并可以自身名义对第三方侵权行为取证及提起诉讼的权利。您同意美享及其关联公司存储、使用、复制、修订、编辑、发布、展示、翻译、分发您的非个人信息或制作其派生作品，并以已知或日后开发的形式、媒体或技术将上述信息纳入其它作品内。</u>
        </div>

        <p style="font-weight: 600">六、 用户的违约及处罚</p>
        <p style="font-weight: 600">6.1 违约认定</p>
        发生如下情形之一的，视为您违约：<br>
        （一）使用美享平台服务时违反有关法律法规规定的；<br>
        （二）违反本协议或本协议补充协议约定的。<br>
        <p>为适应电子商务发展和满足海量用户对高效优质服务的需求，您理解并同意，<u style="font-weight: 600">美享可在美享平台规则中约定违约认定的程序和标准。如：美享可依据您的用户数据与海量用户数据的关系来认定您是否构成违约；您有义务对您的数据异常现象进行充分举证和合理解释，否则将被认定为违约。</u></p>
        <div style="font-weight: 600" >
            <p >6.2 违约处理措施</p>
            <p>【信息处理】<u>您在美享平台上发布的信息构成违约的，美享可根据相应规则立即对相应信息进行删除、屏蔽处理。</u></p>
            <p>【行为限制】<u>您在美享平台上实施的行为，或虽未在美享平台上实施但对美享平台及其用户产生影响的行为构成违约的，美享可依据相应规则对您执行账户处理、限制参加营销活动、终止向您提供部分或全部服务、划扣佣金以及终止为您的账户提供服务、注销您的帐户等措施。</u></p>
            <p>【处理结果公示】<u>美享可将对您上述违约行为处理措施信息以及其他经国家行政或司法机关生效法律文书确认的违法信息在美享平台上予以公示。</u></p>
        </div>
        <p style="font-weight: 600">6.3赔偿责任</p>
        <u style="font-weight: 600">如您的行为使美享及/或其关联公司遭受损失（包括自身的直接经济损失、商誉损失及对外支付的赔偿金、和解款、律师费、诉讼费等间接经济损失），您应赔偿美享及/或其关联公司的上述全部损失。</u><br>
        <u style="font-weight: 600">如您的行为使美享及/或其关联公司遭受第三人主张权利，美享及/或其关联公司、可在对第三人承担金钱给付等义务后就全部损失向您追偿。</u><br>
       <u style="font-weight: 600"> 如因您的行为使得第三人遭受损失或您怠于履行调处决定、美享及/或其关联公司出于社会公共利益保护或消费者权益保护目的，您在美享注册即视为您同意委托美享使用自有资金代您支付上述款项，您应当返还该部分费用并赔偿因此造成美享的全部损失。</u>
        <p style="font-weight: 600">6.4特别约定</p>
        <p><span style="font-weight: 600">【商业贿赂】</span>如您向美享及/或其关联公司的雇员或顾问等提供实物、现金、现金等价物、劳务、旅游等价值明显超出正常商务洽谈范畴的利益，则可视为您存在商业贿赂行为。<u style="font-weight: 600">发生上述情形的，美享可立即终止与您的所有合作并向您收取违约金及/或赔偿金，该等金额以美享因您的贿赂行为而遭受的经济损失和商誉损失作为计算依据。</u></p>
        <p style="font-weight: 600">【关联处理】<u>如您因严重违约导致美享终止本协议时，出于维护平台秩序及保护消费者权益的目的，美享及/或其关联公司可对与您在其他协议项下的合作采取中止甚或终止协议的措施，并以本协议第八条约定的方式通知您。</u></p>
       <u style="font-weight: 600"> 如美享与您签署的其他协议及美享及/或其关联公司与您签署的协议中明确约定了对您在本协议项下合作进行关联处理的情形，则美享出于维护平台秩序及保护消费者权益的目的，可在收到指令时中止甚至终止协议，并以本协议第八条约定的方式通知您。</u><br>
        <p style="font-weight: 600">七、 协议的变更</p>
        美享可根据国家法律法规变化及维护交易秩序、保护消费者权益需要，不时修改本协议、补充协议，变更后的协议、补充协议（下称“变更事项”）将通过法定程序并以本协议第八条约定的方式通知您。<br>
        <u>如您不同意变更事项，您有权于变更事项确定的生效日前联系美享反馈意见。如反馈意见得以采纳，美享将酌情调整变更事项。</u><br>
        <p style="font-weight: 600">如您对已生效的变更事项仍不同意的，您应当于变更事项确定的生效之日起停止使用美享平台服务，变更事项对您不产生效力；如您在变更事项生效后仍继续使用美享平台服务，则视为您同意已生效的变更事项。</p>
        <p style="font-weight: 600">八、 通知</p>
        <p style="font-weight: 600">8.1有效联系方式</p>
        您在注册成为美享平台用户，并接受美享平台服务时，您应该向美享提供真实有效的联系方式（包括您的、联系电话、联系地址、身份证号码等），对于联系方式发生变更的，您有义务及时更新有关信息，并保持可被联系的状态。<br>
        您在注册美享平台用户时生成的用于登陆美享平台接收站内信也作为您的有效联系方式。<br>
       <p style="font-weight: 600">美享将向您的上述联系方式的其中之一或其中若干向您送达各类通知，而此类通知的内容可能对您的权利义务产生重大的有利或不利影响，请您务必及时关注。</p>
        <p>您有权通过您注册时填写的手机号码获取您感兴趣的商品广告信息、促销优惠等商业性信息；<span style="font-weight: 600">您如果不愿意接收此类信息，您有权通过美享提供的相应的退订功能进行退订。</span></p>
        <p style="font-weight: 600"> 8.2 通知的送达</p>
        美享通过上述联系方式向您发出通知，其中以电子的方式发出的书面通知，包括但不限于在美享平台公告，向您提供的联系电话发送手机短信，向您在美享注册的账号发送信息、在发送成功后即视为送达；以纸质载体发出的书面通知，按照提供联系地址交邮后的第五个自然日即视为送达。<br>
        对于在美享平台上因交易活动引起的任何纠纷，您同意司法机关（包括但不限于人民法院）可以通过手机短信、电子邮件等现代通讯方式或邮寄方式向您送达法律文书（包括但不限于诉讼文书）。您指定接收法律文书的手机号码、电子邮箱等联系方式为您在美享平台注册、更新时提供的手机号码联系方式，司法机关向上述联系方式发出法律文书即视为送达。您指定的邮寄地址为您的法定联系地址或您提供的有效联系地址。<br>
        您同意可采取以上一种或多种送达方式向您达法律文书，采取多种方式向您送达法律文书，送达时间以上述送达方式中最先送达的为准。<br>
        你应当保证所提供的联系方式是准确、有效的，并进行实时更新。如果因提供的联系方式不确切，或不及时告知变更后的联系方式，使法律文书无法送达或未及时送达，由您自行承担由此可能产生的法律后果。
        <p style="font-weight: 600">九、 协议的终止</p>
        <p style="font-weight: 600">9.1 终止的情形</p>
        【用户发起的终止】您有权通过以下任一方式终止本协议：<br>
        （一）在满足美享网公示的账户注销规则时您通过人工服务注销您的账户的；<br>
        （二）变更事项生效前您停止使用并明示不愿接受变更事项的；<br>
        （三）您明示不愿继续使用美享平台服务，且符合美享网终止条件的。<br>
        【美享发起的终止】出现以下情况时，美享可以本协议第八条的所列的方式通知您终止本协议：<br>
        （一）您违反本协议约定，美享依据违约条款终止本协议的；<br>
        （二）您盗用他人账户、发布违禁信息、骗取他人财物、售假、扰乱市场秩序、采取不正当手段谋利等行为，美享依据美享平台规则对您的账户予以查封的；<br>
        （三）除上述情形外，因您多次违反美享平台规则相关规定且情节严重，美享依据美享平台规则对您的账户予以查封的；<br>
        （四）您的账户被美享依据本协议回收的；<br>
        （五）您在美享平台有欺诈、发布或销售假冒伪劣/侵权商品、侵犯他人合法权益或其他严重违法违约行为的；<br>
        （六）其它应当终止服务的情况。<br>
        <p style="font-weight: 600">9.2 协议终止后的处理</p>
        <p style="font-weight: 600">【用户信息披露】本协议终止后，除法律有明确规定外，美享无义务向您或您指定的第三方披露您账户中的任何信息。</p>
        <p><span style="font-weight: 600">【美享权利】</span>本协议终止后，美享仍享有下列权利：</p>
        <p>（一）继续保存您留存于美享平台的本协议第五条所列的各类信息；</p>
        <p>（二）对于您过往的违约行为，美享仍可依据本协议向您追究违约责任。</p>
        <p style="font-weight: 600">【交易处理】<u>本协议终止后，对于您在本协议存续期间产生的交易订单，美享可通知交易相对方并根据交易相对方的意愿决定是否关闭该等交易订单；如交易相对方要求继续履行的，则您应当就该等交易订单继续履行本协议及交易订单的约定，并承担因此产生的任何损失或增加的任何费用。</p>
        <p style="font-weight: 600">十、 法律适用、管辖与其他</u></p>
        <p style="font-weight: 600">【法律适用】<u>本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国大陆地区法律；如法律无相关规定的，参照商业惯例及/或行业惯例。</u></p>
        <p style="font-weight: 600">【管辖】<u>您因使用美享平台服务所产生及与美享平台服务有关的争议，由美享与您协商解决。协商不成时，任何一方均可向天津美享网络科技有限公司所在地人民法院提起诉讼。</u></p>
        <p><span style="font-weight: 600">【可分性】</span>本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。</p>
        <p style="font-weight: 600">【协议的变更与补充】本协议履行过程中，如果发生客观情况变更或根据美享平台经营发展的情况需要 <u style="font-weight: 600">对《美享99快时尚公众平台用户协议》内容进行变更的，美享公司会向您发送通知并进行提示，如果您对变更的内容有异议，</u>请向客服人员提出。如果十日内您未提出异议且继续使用美享帐号，视为您接受变更后的协议。</p>
        <p>本协议的解释权归天津美享网络科技有限公司所有。</p>
    </ion-content>
</ion-view>