<ion-view>
    <ion-content>
        <!--商品部分-->
        <div style="position: relative">
            <img src="images/shareImage.png" style="width:100%">
            <div style=" width: 100%;height: 60px;text-align: center;position: absolute;top: 26%">
                <div  style="width: 200px;height: 60px;;line-height:60px;background: #ff4a59;color: white;font-size: 18px;border-radius: 13px;    margin: 0 auto;" ng-click="goSharePage()"  >生成分享图片</div>
            </div>
        </div>
    </ion-content>
</ion-view>