<ion-view >
    <style>
        .ma{margin: 0 auto}
        .fs17{font-size: 17px}
        .fs14{font-size: 14px}
        .col2e{color: #2e2e2e}
        .tc{text-align: center}
        .mt20{margin-top: 20px}
        .fw{font-weight: bold}
        .ml20{margin-left: 20px}
        .mt10{margin-top: 10px}
        .col56{color: #565656}
        .ml35{margin-left: 35px}
        .lh{line-height: 1.5}
    </style>
    <ion-content>
       <div>
           <p class="ma fs17 col2e tc mt20 fw">积分规则</p>
           <!--活动时间-->
           <p class="fs14 col56 ml20 mt20">活动时间：</p>
           <p class="fs14 col56 ml20 mt10">从即日起开始</p>
           <!--活动内容-->
           <div>
               <p class="fs14 col56 ml20 mt20">活动内容：</p>
               <p class="fs14 col56 ml20 mt10 lh">“领享豆”（以下所有出现享豆字眼的均为美享99快时尚公众号平台积分名称）活动期间，用户满足如下具体规则要求，可在美享99快时尚公众号平台领（得）享豆，购物折扣金额等。</p>
           </div>
           <!--具体规 则-->
            <div>
                <p class="fs14  col56 ml20 mt20">具体规则：</p>
                <p class="fs14 col56 ml20 mt10">1、签到领享豆：</p>
                <p class="fs14 col56 ml35 mt10 lh" >用户可以每日前往领享豆页面进行签到，首日可领10个享豆，连续签到每日可递增10个享豆，连续签到每日可领取享豆的上限为70个享豆；若签到中断则重新计算</p>
                <p class="fs14 col56 ml20 mt10">2、邀请用户得享豆：</p>
                <p class="fs14 col56 ml35 mt10 lh" >通过扫码关注“美享99快时尚”公众号平台，成功关注后，若上级是大当家和9小主可获得500享豆，本人可获得200享豆，若上级是C级普通用户可获得200享豆，本人可获得200享豆，（默认一个微信号、一个手机号为一用户，取消关注后重新关注，二次扫码无效，适用于平台所有用户）</p>
                <p class="fs14 col56 ml20 mt10">3、购物折扣：</p>
                <p class="fs14 col56 ml35 mt10 lh" >100享豆=1元，每笔交易最多折扣消费金额的50%</p>
                <p class="fs14 col56 ml20 mt10">4、升级与返利：</p>
                <p class="fs14 col56 ml35 mt10 lh" >用户升级按照消费实付金额；上级佣金返利与本人佣金返利按照消费实付金额，积分消费不参与升级与返利。</p>
            </div>
           <p style="float: right;margin-right: 10px;color: #565656;font-size: 14px;margin-top: 20px">本活动解释权归美享99快时尚公众号平台所有</p>
       </div>
        <br><br><br><br><br><br>
    </ion-content>
</ion-view>