<ion-view >
    <ion-content style="background: url('images/trainingHome.jpg') ;background-size: 100% 100%;overflow: hidden" overflow-scroll="true" >
        <div style="position: relative">
            <div style="position: fixed;bottom: 7%;left: 17%">
                <center>
                    <button style="width:5rem;height:0.96rem;border-radius:0.46rem;color: #FFFFFF;background: #ffb64f;font-size:23px;margin-top:-15px;letter-spacing:5px;border: 0px"
                            class="button" ng-click="free()">免费体验课程</button>
                </center>
                <center>
                    <button style="width:5rem;height:0.96rem;border-radius:0.46rem;color: #ffb64f;background: #FFFFFF;font-size:23px;margin-top: 30px;border: 2px solid #ffb64f;letter-spacing:5px;"
                            class="button" ng-click="learn()">报名正式学习</button>
                </center>
            </div>
        </div>
    </ion-content>
</ion-view>