<ion-view style="background: #f2f5f9">
    <ion-content>
        <ion-refresher pulling-text="下拉获取更多收支明细" on-refresh="getMoreTransactionList()">
        </ion-refresher>
        <div class="list">
            <p style="font-size: 0.5rem;color: #999999" align="center" ng-if="param.transactionList==null">无更多交易明细！</p>
            <a class="item" ng-repeat="item in param.transactionList"
               ui-sref="transactionDetail({'transactionId':item.transactionId,'type':item.transactionType})">
                <p class="item-note">
                    <span ng-if="item.transactionType=='withdraw'">-{{item.amount}}</span>
                    <span ng-if="item.transactionType=='instance'||item.transactionType=='month'||item.transactionType=='recommend'||item.transactionType=='tripleMonth'||item.transactionType=='permanent'||item.transactionType=='shareActivity'||item.transactionType=='consumption'">+{{item.amount}}</span>
                </p>
                <h1 style="font-size:0.28rem;color: #333333" ng-if="item.transactionType=='shareActivity'||item.amount==0">推荐有礼</h1>
                <h1 style="font-size:0.28rem;color: #333333" ng-if="item.transactionType=='instance'||item.amount==0">即时返现</h1>
                <h1 style="font-size:0.28rem;color: #333333" ng-if="item.transactionType=='permanent'||item.amount==0">分享奖励</h1>
                <h1 style="font-size:0.28rem;color: #333333" ng-if="item.transactionType=='month'||item.amount==0">月度提成</h1>
                <h1 style="font-size:0.28rem;color: #333333" ng-if="item.transactionType=='consumption'||item.amount==0">消费奖励</h1>
                <h1 style="font-size:0.28rem;color: #333333" ng-if="item.transactionType=='recommend'||item.amount==0">推荐奖励</h1>
                <h1 style="font-size:0.28rem;color: #333333" ng-if="item.transactionType=='withdraw'||item.amount==0">提现</h1>
                <h1 style="font-size:0.28rem;color: #333333" ng-if="item.transactionType=='tripleMonth'||item.amount==0">活动奖励</h1>
                <p style="font-size: 0.24rem;color: #999999">{{item.transactionDate|date:'yyyy-MM-dd HH:mm:ss'}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>