<ion-view style="background: #f2f5f9">
    <ion-content>
        <div class="list card">
            <a class="item item-body" style="background:white;height:4rem">
                <p>
                    <span style="font-size: 0.26rem;color: #333333">提现到</span>
                    <span style="color:#6D9Fe1;font-size: 0.26rem">微信零钱</span>
                </p>
                <p style="margin-top:-12px;font-size:0.24rem;color:#999999">
                    <span>每日每用户只能申请一次提现，48小时到账</span>
                </p>
                <p>
                    <input type="tel" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" placeholder="请输入提现金额" style="position:absolute;font-size:15px;margin-left:1.2rem" ng-model="param.withDrawAmount">
                </p>
                <p style="margin-top:0.3rem;font-size:0.5rem;margin-left:0.5rem;">
                    <u style="color:#333333;font-size: 0.6rem">￥</u>
                </p>

                <p>
                    <span style="margin-top:0.45rem;font-size:0.26rem;margin-left:0.5rem;">可提现余额</span> <span style="font-size:0.28rem;margin-left:0.1rem;color:#ff6666;">  ￥{{(param.accountInfo.balance - param.accountInfo.balanceDeny).toFixed(2)}}</span>
                    <!--<span style="color:#6D9Fe1;font-size: 0.26rem" ng-click="withDrawAll()">全部提现</span>-->
                </p>

            </a>

            <label class="item item-input">
                <input type="text" placeholder="请输入您的真实姓名" ng-model="param.userName" required oninvalid="setCustomValidity('不能为空')" oninput="setCustomValidity('')" >
            </label>
            <label class="item item-input">
                <input type="text" placeholder="请输入与您姓名一致的身份证号" ng-model="param.userIdentifyNumber" required oninvalid="setCustomValidity('不能为空')" oninput="setCustomValidity('')" >
            </label>
            <label class="item item-input">
                <input type="text" placeholder="请输入登录美享平台手机号" maxlength="11" ng-model="param.userPhone" required oninvalid="setCustomValidity('不能为空')" oninput="setCustomValidity('')" >
            </label>
            <label class="item item-input" style="font-size: 0.34rem;color: #cccccc">
                <input type="text" placeholder="请输入验证码" ng-model="param.validateCode" required oninvalid="setCustomValidity('不能为空')" oninput="setCustomValidity('')" >
            </label>
            <button class="button button-small"
                    ng-if="param.validateCodeButtonStatus"
                    ng-click="getValidateCode()"
                    style=" margin-right:0.4rem;border: solid 1px;width: 2.28rem;border-radius: 0.46rem;color: #999999;
                            background: transparent;float: right;margin-top: -38px;z-index: 2;font-size: 0.32rem">
                获取验证码
            </button>
            <button class="button button-small"
                    ng-if="!param.validateCodeButtonStatus"
                    style="margin-right:0.4rem;border: solid 1px;width: 4rem;border-radius: 20px;
                            background: transparent;float: right;margin-top: -38px;z-index: 2;">
                请{{param.timeCount}}秒后重新获取验证码
            </button>
            <p>
                <span>   </span>
                <span align="middle" style="font-size: 0.26rem; text-align: center; color: #d0d0d0">
                   &nbsp;&nbsp;注：10元起申请提现，最高5000元。（暂支持整元提现）
                </span>
            </p>
            <center>
                <button class="button button-assertive" style="margin-top:15px;margin-bottom:15px;width:200px;border-radius:20px" ng-click="confirmWithDraw()">
                    申请提现
                </button>
            </center>
        </div>
    </ion-content>
</ion-view>