<ion-view style="background:white">
    <ion-content>
        <label class="item item-input">
                <textarea style="height:100px"
                          placeholder="请输入捎话（100字以内）"
                          class="values"
                        ng-model="shopAppointInfo.shopProjectDetail"></textarea>
        </label>

        <!--<ion-list>-->
            <!--<div class="item item-divider" style="height:60px">-->
                <!--<br>-->
                <!--快速捎话-->
            <!--</div>-->
            <!--&lt;!&ndash;<ion-item ng-repeat="item in [1,2,3,4,5,6,7,8]">&ndash;&gt;-->
                <!--&lt;!&ndash;<img style="border-radius: 79px;&ndash;&gt;-->
                                <!--&lt;!&ndash;width: 25px;&ndash;&gt;-->
                                <!--&lt;!&ndash;position: absolute;&ndash;&gt;-->
                                <!--&lt;!&ndash;margin-left: 15px;&ndash;&gt;-->
                                <!--&lt;!&ndash;margin-top: 5px;"&ndash;&gt;-->
                     <!--&lt;!&ndash;ng-src="http://thirdwx.qlogo.cn/mmopen/HhRfwkaJkMuUzMJUhZOhicVYGMQkRGtfMo1ZotlLP6wgQaTBibYGviclPticuqrJZae8hyCVCmLibZc06dz9vLUmWmnWjqqDRk5X9/132">&ndash;&gt;-->
                <!--&lt;!&ndash;<div style="margin-left:60px;margin-top:8px">&ndash;&gt;-->
                    <!--&lt;!&ndash;<h>泡澡水不要辣么热。</h>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
            <!--<br><br><br><br>-->
        <!--</ion-list>-->
    </ion-content>
    <<div class="tabs" style="background:#e66;color:white" ui-sref="beautyAppoint">
        <a class="tab-item" style="font-size:20px">
            确定
        </a>
    </div>
</ion-view>