<ion-view style="background:#f2f5f9">
    <ion-content>
        <ion-list>
            <div class="item item-divider">
                当前美容院
            </div>
            <ion-item class="item item-thumbnail-left">
                <img ng-src="{{param.currentShopInfo.sysShopPhoto}}" style="width: 95px;height: 75px;">
                <h style="font-weight:600;"><br>{{param.currentShopInfo.sysShopName}}</h>
            </ion-item>
        </ion-list>
        <ion-list>
            <div class="item item-divider">
                美容院列表
            </div>
            <ion-item class="item item-thumbnail-left" ng-repeat="item in param.otherShopInfo" ng-click="chooseShop(item.sysShopId)">
                <img ng-src="{{item.shopPhoto}}" style="width: 95px;height: 75px;">
                <h style="font-weight:600;"><br>{{item.sysShopName}}</h>
            </ion-item>
            <br><br><br><br>
        </ion-list>
    </ion-content>
</ion-view>