<ion-view style="background: #f2f5f9">
    <ion-scroll style="height:100%">
        <ion-refresher
                pulling-text="下拉加载更多店员..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <ion-item ng-repeat="item in param.clerkList" ng-click="chooseClerk(item.id)">
            <i class="icon ion-ios-checkmark-outline" style="color:#FF6666;font-size:20px;position:absolute;top: 30px" ng-if="item.id!=param.clerkId"></i>
            <i class="icon icon ion-ios-checkmark" style="color:#FF6666;font-size:20px;position:absolute;top: 30px" ng-if="item.id==param.clerkId"></i>
            <img style="border-radius:79px;width:50px;position: absolute;margin-left: 35px"
                    ng-src="{{item.photo}}">
            <div style="margin-left:95px">
                <h style="font-weight:600;">{{item.name}}</h>
                <p style="margin-top:18px;font-size: 12px;color: #888888">
                    满意度  <span style="color: #FF6666;font-size: 12px;">{{item.clerkProgressStyle.width}}</span>
                </p>
            </div>
            <div class="progress" style="width:40%;position:absolute;margin-left:178px;margin-top:-12px;height:10px">
                <span class="red" ng-style="item.clerkProgressStyle"></span>
            </div>
        </ion-item>
        <br><br><br><br>
    </ion-scroll>
    <<div class="tabs"
          style="background:#FF6666;color:white;font-size: 16px"
          ng-click="confirmClerk()">
        <a class="tab-item" style="font-size:20px" ng-click="confirmClerk()">
            确认
        </a>
    </div>
</ion-view>