<ion-view style="background:#f2f5f9">
    <center>
        <div class="item item-body" style="margin-top:75px;width:80%;border-radius:15px;height: 405px;">
            <p style="font-size:15px;color: #666666!important;margin-top: 63px"><span style="color: #e5e5e5;margin-right: 5px">---------</span>绑定美容院<span style="color: #e5e5e5;margin-left: 5px">---------</span></p>
            <img class="full-image"
                 ng-src="{{userQRCode}}" style="width: 122px;height: 122px;margin-top: 51px">
            <div style="margin-top: 55px">
                <p style="font-size: 14px;color: #666666">
                    二维码提供给您所在的美容院操作绑定
                </p>
                <p style="font-size: 14px;color: #666666">
                    绑定后可以在本程序预约和查看项目
                </p>
            </div>
        </div>
    </center>
</ion-view>