<ion-view style="background:white">
    <ion-content>
        <ion-list ng-if="param.expenseCardDetailData=='true'">
            <ion-item ng-repeat="item in param.projectConsumes"  class="row">
                <div class="col col-80">
                    <p style="font-family: PingFangSC-Regular;font-size: 15px;color: #333333;letter-spacing: 0;margin-top: 10px">{{item.flowName}}</p>
                    <p style="font-family: PingFangSC-Regular;color:#888888;font-size: 12px;letter-spacing: 0;margin-top: 10px;margin-bottom: 10px">{{item.createDate|date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
                <div class="col col-20" >
                    <p style="font-family: PingFangSC-Regular;letter-spacing: 0;text-align: right;margin-top: 20px;color: #333333;font-size: 15px;margin-right:5px;">{{item.consumeNumber}}次</p>
                </div>
            </ion-item>
            <br><br><br><br>
        </ion-list>
        <center ng-if="param.expenseCardDetailData=='false'">
            <img style="width: 80%;margin-top:25%;"
                 src="https://mximage.oss-cn-beijing.aliyuncs.com/viewPicture/%E7%A9%BA%E7%8A%B6%E6%80%81%E5%9B%BE%403x.png">
        </center>
    </ion-content>
</ion-view>